*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    position: relative;
    height: 100%;
    width: 100%;
}
.content {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    padding: 0 100px;
    color: #d5dfe7;
}
.content p{
    font-size: 40px;
    color: blue;
    font-weight: bold;
}
.supplier{
    margin-top: 20px;
}
.buycard-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 23px;
    text-transform: uppercase;
    color: #0b4674;
    margin-bottom: 20px;
    text-align: justify;
}
.btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    background: #23a6f7;
    border-radius: 10px;
    padding: 10px 32px;
    border: none;
}
.supplier {

}
.supplier img{
    display: flex;
    border: 10px solid transparent;
    padding: 20px;
    border-image: url(border.png) 20% round;
}

.header1{
    width: 100%;
    margin-left: auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    background-color: black;
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    margin: 0;
    float: left;
    margin-right: 30px;
    padding: 0 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
nav ul li {
    background: black;
    position: relative;
    list-style: none;
    display: inline-block;
}

nav ul li a{
    display: block;  
    padding: 0 15px;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
    color: white;
    
}

nav ul li a:hover  {
    background: #23a6f7;
}
nav ul ul {
    position: absolute;
    top: 60px;
    display: none;
}
nav ul li:hover >ul{
    display: block;
}
nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}
.footer {
    height: 6%;
    justify-content: center;
    background-color: #d5fae8;
}
.footer div {
    margin-bottom: auto;
    margin-top: auto;
}
